:root {
  --glass-color: rgba(141, 146, 141, 0.7);
  --glass-fade-color: rgb(30, 30, 30, 0.3);
  --card-color: rgba(255, 255, 255, 0.1);
  --card-hover-color: rgba(255, 255, 255, 0.2);
  --text-color: #111;
}

html {
  font-size: 18px; /* Base font size */
}
body {
  color: var(--text-color);
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 5% 0;

  background-image: url('../imgs/Designer.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 0.3em;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.7em;
}
@media (max-width: 768px) {
  header > * {
    display: block;
  }
  header > .sm-head {
    font-size: 0.5em;
  }
}

footer {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em 0 0 1em;
  border-top: 1px solid #fff;
}

a {
  color: blue;
  text-decoration: none;
}
.all,
.glass {
  background-color: var(--glass-color);
  backdrop-filter: blur(5px);
}
.card,
.middle,
.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: var(--glass-fade-color);
}

.all {
  position: relative;
  width: 70%;
  max-width: 600px;
  min-height: 300px;
  margin: auto;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 15px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

/* Basic reset for button */
button {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* Show Button Styles */
.btn-submit {
  background-color: #22b14a;
  color: #fff;
  /* border: 2px solid #22b14a; */
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s; /* Smooth transitions */
}

/* Hover effect */
.btn-submit:hover {
  background-color: #22b14a;
  border-color: #22b14a;
}

/* Focus effect for accessibility */
.btn-submit:focus {
  outline: 1px solid #22b14a;
}

/* Active effect */
.btn-submit:active {
  background-color: #13742e;
  border-color: #13742e;
  transform: scale(0.98);
}

/* Responsive design: Adjust padding on smaller screens */
@media (max-width: 600px) {
  .btn-submit {
    padding: 2px 4px;
    font-size: 0.9rem;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 5px;
}

.card {
  backdrop-filter: blur(10px);
  background: var(--card-color);
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  background: var(--card-hover-color);
  transform: scale(1.05);
}
